name: npm

on:
  push:
    branches:
      - master

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Release
    permissions:
      contents: write
      id-token: write
      issues: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Setup Git GPG
        run: |
          git config --global user.signingkey ${{ secrets.ACTION_GPG }}
          git config --global commit.gpgsign true
          # git config --global user.name '${GITHUB_ACTOR}'
          # git config --global user.email '${GITHUB_ACTOR}@users.noreply.github.com'
          # git add -A && git commit -m '$*' --allow-empty
          # git push -u origin HEAD"
      - name: Install dependencies
        run: npm i -D @changesets/cli @changesets/changelog-github

      - name: Build artifact
        run: npm run build

      - name: Release PR
        uses: changesets/action@v1
        with:
          version: npm exec changeset version
          publish: npm exec changeset publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
